<div class="ca-c-card">
    <div class="ca-c-card__header balance-card__header">
        <div class="balance-card__header-title">
            <img src="../../../assets/icons/icon-hand.png" class="ca-c-card__header-icon">
            <h1>Balance Card</h1>
        </div>
        <p>R$ 100,00</p>
    </div>
    <div class="ca-c-card__content">
        <div class="ca-c-card__content-item">
            <p>Conta Corrente</p>
            <p>R$ 200,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Conta Corrente Saldo Vinculados</p>
            <p>R$ 300,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Conta Poupança saldo Vinculados</p>
            <p>R$ 400,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Investimento Com Baixa Ativada</p>
            <p>R$ 500,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Investimento Sem Baixa Automatica</p>
            <p>R$ 500,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
    </div>
    <div class="balance-card__content-summary">
        <div class="ca-c-card__content-item">
            <p>Saldo Total</p>
            <p>R$ 1000,00</p>
        </div>
        <div class="ca-c-card__content-item">
            <p>Livre para movimentação</p>
            <p>R$ 1000,00</p>
        </div>
    </div>
</div>
