<div class="ca-c-card">
    <div class="ca-c-card__header client-infos-card__header">
        <app-card-header title="Informacoes do Cliente" image="icon-client.png" ></app-card-header>
    </div>
    <div class="ca-c-card__content">
        <app-card-item text="Nome" value="Paulo Guina de Margot"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Idade" value="26"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Renda Mensal" value="R$ 1000,00"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Nacionalida" value="Brasileiro"></app-card-item>
    </div>
</div>