<div class="ca-c-card">
    <div class="ca-c-card__header client-infos-card__header">
        <img src="../../../assets/icons/icon-client.png" class="ca-c-card__header-icon">
        <h1>Informações do Cliente</h1>
    </div>
    <div class="ca-c-card__content">
        <div class="ca-c-card__content-item">
            <p>Nome</p>
            <p>Paulo Guina Silvestre</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Idade</p>
            <p>26</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Renda Mensal</p>
            <p>R$ ~1000,00</p>
        </div>
        <div class="ca-c-card__content-line"></div>
        <div class="ca-c-card__content-item">
            <p>Nacionalidade</p>
            <p>PBrasileiro</p>
        </div>
    </div>
</div>